.header
{
    display:flex;
    flex-direction:row;
    background-color: #ffcd9e;
    padding-top: 84px;
  padding-bottom: 62px;
  padding-left: 136px;
  padding-right: 136px;
  justify-content:space-between;
}
.left
{
    display:flex;
    flex-direction:column;
}
.left h1
{
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
    width: 562px;
}
.input-field
{
    border: 4px solid black;
    border-radius: 8px;
    width: 344px;
    padding:10px;
    height: 57px;
}
.sub-head
{
    font-weight: 500px;
    font-size: 20px;
    line-height: 32px;
    padding-top: 32px;
    width: 444px;
}
.span-1
{
    font-size: 20px;
    font-weight: 800;
    line-height: 81px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.span-2
{
    font-weight: 500;
    font-size: 16px;
    line-height: 44.6px;
    text-align: center;
    color: white;
    width: 344px;
    margin-top: 4px;
}
.p1-left h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
    width: 562px;
}
.button-field
{
    width: 160px;
    border-radius:8px;
    height: 57px;
    background-color: black;
    color:white;
    font-size:18px;
    margin-top: 20px;
    font-weight: 700;
}
.footer
{
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-between;
    padding-top: 62px;
    padding-bottom: 56px;
    padding-left: 191px;
    padding-right: 193px;
}
ul > li {
    color: white;
    line-height: 36px;
    list-style:none;
    font-weight: 400;
    font-size: 20px;
}
.ftleft
{
    text-align: left;
}
.ftright
{
   text-align: right;
}